<section id="productList">
    {{#if products}}
    {{#each products}}
    {{#if this.status}}
    <article id="prod">
        <h2>Producto: <strong>{{this.title}}</strong></h2>
        <p class="data">Descripcion: <strong>{{this.description}}</strong></>
        <p class="data">Stock: <strong>{{this.stock}}</strong></p>
        <p class="data">Precio: <strong>${{this.price}}</strong></p>
    </article>
    {{/if}}
    {{/each}}
    {{else}}
    <article>
        <h2>No products</h2>
    </article>
    {{/if}}
</section>